h1{
	
    border: 2px solid #467813;	
	width: 960px;
	padding: 20px;
	border-radius:20px;
	color:   red;
	margin: 50px;               
	display: block;


}

.gradient {
background:  green;
  	background: url("tick.jpeg") 10px 50% no-repeat,linear-gradient(#00ff64,#002419);
  		border: 2px solid #467813;
	width: 960px;
	padding: 15px 20px  15px 50px;
	border-radius:20px;
	color:   white;
	margin: 50px;
	font-family: 'Merriweather', serif;
	}
	                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            px;

