body{
  color: #888;
  display: block;
}
.logo1{
border-top: 4px  solid #648880;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: .5px;
  padding: 40px 0 22px 0;
  word-spacing: 5px;
  text-transform: uppercase;
border-bottom: 10px;
  }
 .date{
  display: block;
  margin: 66px 0 22px 0;
  text-align: right;
    height:-300px;
}
 a:hover{
  color:#a9b2b9;
 }



.menu{
  text-align: right;

}
a{
  color: #648880
}




.junior{
  text-align:center;
 font:14px/24px "courier New";
 

}
.gildas{
border-top: 5px solid #648880
}


.grid{ display: inline-block;
width: 960p
x;

}
       div{
  background: white;
  border-radius: 6px;
  color: black;
  display: block;
  font: 14px/24px "courier New";
  
  text-align: center;
  margin :0 auto;
   }
   header,
   section,
   aside,
   footer{
  margin: 0 1.5% 24px 1.5%
    } 
    .col-1-3{
      display: inline-block;
      width: 30%;
     
      vertical-align: top;
    }
    .col-1-3{
      display: inline-block;
      width: 30%;
     
      vertical-align: top;
    }
    .col-1-3{
      display: inline-block;
      width: 30%;
       vertical-align: top;

    }
    

    footer{
  margin-bottom: 0;}
  .copy ul{
   display: block;
  margin: 66px 0 22px 0;
  text-align: right;
    height:-300px;
  }
 

