 *{
 	border-radius: 5px
 }
form{
	
	border: 5px solid grey;
	width: 35%;
	margin: 50px auto;
	padding:30px;
	
}
fieldset{
	padding: 50px;
	margin bottom: 15px:
	border: 5px solid grey; 
	box-shadow :2px  2px  2px  2px rgb( 0, 0 ,0, 0.5);
}
div{
	margin-bottom: 5px;

	

}
input{
	width: 80%;
	padding: 12px;
	border: 2px solid grey;
	box-shadow: 2px  1px  1px  1px rgb( 0, 0 ,0, 0.5); 
}
.btn{
	background-color: #05ab9f;
	padding:17px; 
	width:35%;
	margin-top: 25px;
	box-shadow: 1px  1px  1px  1px rgb( 0, 0 ,0, 0.5);
}