

body{
	background-color: grey;
}

h1{
	color: white ;
	font-size: 100px;
	font-weight: bolder;
	word-spacing: 24px;
	margin:20% 30% auto;
	margin-left: 
}
h3{
	text-align: right;
	margin-right: 32%;
	font-size: 25px;
	margin-top: 30px;
	color :white;

}
h2{
	text-align: right;
	margin-right: 42%;
	font-size: 30px;
}
.speaker{
	text-align: right;
	margin-right: 47%;
	font-size: 24px;
	margin-top: 30px;

}
p{
   font-size: 24px;
   color: white;
   margin: 20px 30% auto;
}
section{
	margin-top: 80px;
	
}
h5{
	text-align: right;
	margin-right: 50%;
	font-size: 30px;
}
footer{
	font-size: 24px;
	margin-top: 100px;
    

}
.lien{
	margin-right: 60%;
	margin-bottom: 12px
}
a{
	
	background-color:  #05ab9f;
	color:#05ab9f;
  text-decoration: none;
  border-radius: 12px;


}
a:hover {
  color: white;
}
div{

	text-align: right;
	margin-right: 20%;
	font-size: 24px;
   
}





